# Environnements virtuels
env/
venv/
*.pyc
__pycache__/

# Git
.git
.gitignore

# OS & IDE
.DS_Store
.vscode/
.idea/

# Logs et fichiers temporaires
*.log
*.sqlite3
*.swp
tmp/
*.bak

# Docker
.dockerignore
Dockerfile~

# Tests (optionnel)
coverage/
htmlcov/
.tox/
.pytest_cache/
